
:root {
    --color1: #36688d;
    --color2: #f3cd05;
    --color3: #f49f05;
    --color4: #f18904;
    --color5: #bda589;

    --color-1: #040c03;
    --color-2: #132226;
    --color-3: #525b56;
    --color-4: #be9063;
    --color-5: #A4978e;
}
html, body {
    height: 100%;
    background: var(--color-5);
    background: linear-gradient(90deg, var(--color-2) 0%, var(--color-3) 49%, var(--color-2) 100%);

}
body {
    margin: 0;
    padding: 0;
}
main {
    width: 800px;
    margin: 0 auto;
    height: 100%;
    background-color: var(--color-2);
    padding: 1px;
    box-sizing: border-box;
    color: var(--color5);
}

h1 {
    margin-top: 0;
    background-color: var(--color-1);
    padding: 1em;

}
h1, h2,h3 {
    text-align: center;
    text-transform: capitalize;
    color: var(--color3)
}

ul li {
    text-transform: capitalize;
    margin: 0;
    padding: 0 !important;
    position: relative;
    left: -20px;
    list-style: none;
    margin-bottom: .5em;
}

a {
    display: block;
    /*text-align: center;*/
    /*margin: 0 auto;*/
    color: var(--color1);
}
a:visited{
    color: var(--color-3)
}
a:hover {
    color: var(--color4);
}
p {
    padding-left: 1em;
    padding-right: 1em;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.column-column {
    display: flex;
    flex-direction: column;
}
